# Manejo de datos faltantes: detecci贸n y exploraci贸n

## Importar l铆brerias

Las l铆brerias que importamos a continuaci贸n son fundamentales para el an谩lisis, visualizaci贸n y manimulaci贸n de datos.
- `matplotlib.pyplot` y - `seaborn`: Herramientas por excelencia para la visualizaci贸n de datos.
- `missingno`: L铆breria especial para visualizar valores faltantes.
- `numpy`: Computo cientifico y manejo de gr谩ndes volumenes de arrays y matrices con Python.
- `pandas`: Manipulaci贸n de datos.
- `pyreadr`: Leectura de archivos de lenguaje `R`.
- `upsetplot`: Explorar y visualizar intersecciones complejas de datos.

In [1]:
import matplotlib.pyplot as plt 
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import upsetplot

## Configurar el aspecto general de las gr谩ficas del proyecto

In [2]:
%matplotlib inline

sns.set_theme(
    rc={
        "figure.figsize": (10, 10)
    }
)

sns.set_style("whitegrid")

- `%matplotlib inline`: Magic command de Jupyter, asegura que todos los gr谩ficos generados por `matplotlib` se muestren directamente en el notebook.
- `sns.set_theme`: Configuraci贸n del tema global de los gr谩ficos de `seaborn` y `matplotlib`. Para este notebook le decimor que los gr谩ficos tendran un tama帽o de 10x10"
- `sns.set_style("whitegrid")`: Define el estilo de fondo de los gr谩ficos, en este caso el fondo sera blanco.

## Operaciones con valores faltantes

### Python

In [4]:
print(
  None or True,
  None or False,
  None == None,
  None is None,
  type(None),
  sep="\n"
)

True
False
True
True
<class 'NoneType'>

**Explicaci贸n:**
El c贸digo anterior nos muestra como Python maneja los "valores" `None`; en realidad este objeto representa la ausencia de valor.
- `None or True` y `None or False`: Regresa `True` y `False` respectivamente pues estos representan valores booleanos y en cambio `None` representa la falta de valor.
- `None == None`: La comparaci贸n de igualdad entre dos objetos `None` retorna un `True`, ya que dicho objeto es un singleton en Python, lo que quiere decir aque solo exciste uno en todo el ambiente.
- `None is None`: Similar a la comparaci贸n anterior, `is` verifica que ambos objetos sean el mismo.

In [7]:
None + 1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

El objeto `None` no soporta operaciones aritmeticas o booleanas (que no sean de comparaci贸n).

### Numpy

In [12]:
print(
  np.nan,
  np.nan or True,
  np.nan or False,
  np.nan == np.nan,
  np.nan is np.nan,
  type(np.nan),
  np.isnan(np.nan),
  np.nan / 1,
  sep="\n"
)

nan
nan
nan
False
True
<class 'float'>
True
nan

**Explicaci贸n:**
Numpy a diferencia de utilizar Python que maneja los valroes faltantes con un **objeto** llamdo `None`, la l铆breria utiliza una constante de tipo `float` llamada `nan`.

- `np.nan`: Forma en que la `Numpy` representa los valores faltantes.
- `np.nan or True` y  `np.nan or False`: Retornan `nan` pues como se ve en la l铆nea 6, Numpy maneja el valor `nan` como un float.
- `np.nan == np.nan`: A diferencia de como Python lo maneja de forma nativa; `nan` no es igual a ningun valor incluido a s铆 mismo.
- `np.isnan(np.nan)`: La funci贸n `isnan()` es la forma correcta para verificar los valores faltantes en utilizando la l铆breria Numpy.
- `type(np.nan)`: Nos dice que el tipo de dato es un float.

### Pandas

In [14]:
test_df = pd.DataFrame.from_dict(
  data=dict(
    x=[0, 1, np.nan, np.nan, None],
    y=[0, 1, pd.NA, np.nan, None]
  )
)
test_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

Pandas permite representar los valores faltantes de tres formas distintas:
- `None`: Representaci贸n de datos faltantes de Python
- `np.nan`: Representaci贸n de datos faltantes de Numpy
- `pd.NA`: Representaci贸n de datos faltantes de Pandas

Al trabajar con Data Frames y Series de pandas, contamos con dos funciones que nos dices en notaci贸n booleana (`True` o `False`) si un dato no se encuentra en el conjunto.


 Ambas funciones hacen lo mismo, pero tienen diferente nombr.

In [15]:
test_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [18]:
print(test_df.isnull().value_counts())
test_df.isnull()

x      y
True   True     3
False  False    2
dtype: int64

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [20]:
pd.Series([1, pd.NA, np.nan]).isnull()

0    False
1     True
2     True
dtype: bool